[project]
	description = This is just for testing
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ealmkrm
[access "refs/for/refs/*"]
	read = group user/ealmkrm
	push = group user/ealmkrm
	label-Code-Review = -2..+2 group user/ealmkrm
	label-Verified = -1..+1 group user/ealmkrm
	rebase = group user/ealmkrm
	removeReviewer = group user/ealmkrm
	submit = group user/ealmkrm
[access "refs/heads/*"]
	read = group user/ealmkrm
	create = group user/ealmkrm
	push = +force group user/ealmkrm
	pushMerge = group user/ealmkrm
[access "refs/tags/*"]
	push = +force group user/ealmkrm
	pushTag = group user/ealmkrm
	pushSignedTag = group user/ealmkrm
